# Question 1 - List and its default functions

In [16]:
lst = ["Anusha", 8, 3, 3, 19.96, [1,2,3,4]]

In [17]:
lst

['Anusha', 8, 3, 3, 19.96, [1, 2, 3, 4]]

In [18]:
lst.append("xyz")

In [19]:
lst

['Anusha', 8, 3, 3, 19.96, [1, 2, 3, 4], 'xyz']

In [20]:
lst.index(3)

2

In [21]:
lst2 = ["akash", 13, 56.78]

In [22]:
lst.extend(lst2)

In [23]:
lst

['Anusha', 8, 3, 3, 19.96, [1, 2, 3, 4], 'xyz', 'akash', 13, 56.78]

In [24]:
lst.pop()

56.78

In [25]:
lst

['Anusha', 8, 3, 3, 19.96, [1, 2, 3, 4], 'xyz', 'akash', 13]

In [26]:
lst.remove("Anusha")

In [27]:
lst

[8, 3, 3, 19.96, [1, 2, 3, 4], 'xyz', 'akash', 13]

In [28]:
lst.count(3)

2

In [29]:
lst.reverse()

In [30]:
lst

[13, 'akash', 'xyz', [1, 2, 3, 4], 19.96, 3, 3, 8]

# Question 2 - Dictionary and its default functions

In [31]:
dit = {"name": "Rama", "age": "30", "mobile": "8971052800", "email": "rama@gmail.com"}

In [32]:
dit

{'name': 'Rama',
 'age': '30',
 'mobile': '8971052800',
 'email': 'rama@gmail.com'}

In [33]:
dit.items()

dict_items([('name', 'Rama'), ('age', '30'), ('mobile', '8971052800'), ('email', 'rama@gmail.com')])

In [34]:
dit.keys()

dict_keys(['name', 'age', 'mobile', 'email'])

In [35]:
dit.copy()

{'name': 'Rama',
 'age': '30',
 'mobile': '8971052800',
 'email': 'rama@gmail.com'}

In [37]:
dit["Office"] = "Infosys"

In [38]:
dit

{'name': 'Rama',
 'age': '30',
 'mobile': '8971052800',
 'email': 'rama@gmail.com',
 'Office': 'Infosys'}

In [40]:
dit.setdefault("name")

'Rama'

In [53]:
seq = {"name1", "age1", "mobile1"}

In [48]:
seq

{'age1', 'mobile1', 'name1'}

In [52]:
dit.fromkeys(seq,1)

{'name1': 1, 'mobile1': 1, 'age1': 1}

# Question 3 - Sets and its default functions

In [58]:
st = {"Anusha", "Customer Success Executive", 1,2,2,3,4,5,5,6,7,8,9}

In [57]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Anusha', 'Customer Success Executive'}

In [72]:
st1 = {"Customer Success Executive",10}

In [73]:
st1.issubset(st)

False

In [74]:
st2 = {"Anusha",9}

In [75]:
st2.issubset(st)

True

In [76]:
st.discard("Anusha")

In [77]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Customer Success Executive'}

In [80]:
st3 = {1,2,3}

In [81]:
st4 = {2,3,4}

In [82]:
st.intersection(st3,st4)

{2, 3}

In [83]:
st.difference(st3,st4)

{5, 6, 7, 8, 9, 'Customer Success Executive'}

In [86]:
st5 = {11,12,13}

In [87]:
st.isdisjoint(st5)

True

In [88]:
st.isdisjoint(st3)

False

# Question 4 - Tuple and explore default methods

In [89]:
tup = ("anushayeliyur", "@", "gmail.com")

In [90]:
tup

('anushayeliyur', '@', 'gmail.com')

In [91]:
tup.count("@")

1

In [94]:
tup.index("gmail.com")

2

# Question 5 - Strings and explore default methods

In [117]:
name = "Anusha Y R"
graduation = "Civil Engineer"
Institution = "AIT"

In [104]:
graduation

'Civil Engineer'

In [103]:
str.capitalize(name)

'Anusha y r'

In [108]:
str.casefold(name)

'anusha y r'

In [111]:
str.encode("Civil Engineer")

b'Civil Engineer'

In [113]:
str.encode("Anusha Y R")

b'Anusha Y R'

In [128]:
str("Bangalore")

'Bangalore'

In [131]:
str.find("AIT")

TypeError: find() takes at least 1 argument (0 given)